@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model MrFixIt.Models.Job

<h2>Would you like to do this job?</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.JobId)
    @Html.HiddenFor(model => model.Title)
    @Html.HiddenFor(model => model.Description)

    
    <input type="submit" value="Claim This Job" />
}
@if (User.Identity.IsAuthenticated)
{
    <div class="ClaimJob">
        <h2>Add job using Post request</h2>
        <form action="NewJob" class="new-job">
            <label for="title">Title: </label>
            <input type="text" name="title" />
            <label for="description">Description: </label>
            <input type="text" name="description" />
            <h4>@Model.Title</h4>
            <button type="submit">Claim this Job</button>
        </form>
        <div id="resultClaimJob"></div>
    </div>
<br />
<p>@Html.ActionLink("Back to list", "Index")</p>





}