@{
}
    
    @model IEnumerable<MrFixIt.Models.Job>
    
   
<script type="text/javascript">
    $(document).ready(function () {

        $('.claim-job').submit(function () {
            event.preventDefault();
            $.ajax({

                type: 'GET',
                //Says what type of data we expect back from the server
                dataType: 'json',
                //says what kind of data we are sending to the server
                contentType: 'application/json',
                url: '@Url.Action("Claim")',
                data: $(this).serialize(),
                success: function (result) {
                    var resultMsg = 'You have claim this job! <br> Id: ' + result.id + '<br>Title: ' + result.title + '<br>Description: ' + result.description;
                    $('#resultClaim').html(resultMsg);
                }
            });
        });

        @*$('.claim-job').submit(function () {
        event.preventDefault();
            $.ajax({
                url: '@Url.Action("Index")',
                type: 'POST',
                dataType: 'json',
                data: $(this).serialize(),
                success: function (result) {
                    var resultMsg = 'You have claim this job! <br> Id: ' + result.id + '<br>Title: ' + result.title + '<br>Description: ' + result.description;
                    $('#resultClaim').html(resultMsg);
                }
            });
        });*@
    });
</script>

    <br />
    

    <h2>Would you like to do this job?</h2>
    <hr />
    <div class="text-center">
        <h3>Our Current Jobs</h3>
        @Html.ActionLink("Add a new job", "Create")
    </div>

    @foreach (var Job in Model)
    {
        <ul>
            <li>@Job.Title</li>
            <ul>
                <li>@Job.Description</li>
            </ul>
            @if (Job.Worker == null)
            {
                <li class="btn claim">This job is unclaimed. @Html.ActionLink("Claim This Job", "Claim", new { @text = @Job.Title, id = Job.JobId })</li>
                <li class="claim-job"><span id="resultClaim"></span></li>
            }
            else
            {
                <li class="btn">This Job is claimed by @Job.Worker.FirstName @Job.Worker.LastName</li>

            }
        </ul>


    <hr />
    }

