@{
}
    
@model IEnumerable<MrFixIt.Models.Job>
<br />  

<h2>Would you like to do this job?</h2>
<hr />
<div class="text-center">
    <h3>Our Current Jobs</h3>
    @Html.ActionLink("Add a new job", "Create")
</div>

@foreach (var Job in Model)
{
    <ul>
        <li>@Job.Title</li>
            
            <li>@Job.Description</li>
            

        @if (Job.Worker == null)
        {
            <li >This job is unclaimed. 
                <span class="claim-job">@Html.ActionLink("Claim This Job", "Index", new { @id = @Job.JobId })</span>
                <input type="hidden" value="@Html.DisplayFor( x => Job.JobId)" id="jobId2" />
        </li>
            <li class="result-claim"></li>
            @*<li class="claim-job">
                Click This New Link
                
            </li>
            <li class="theId">@Html.DisplayFor( x => Job.JobId)</li>
            <li><span id="resultClaim"></span></li>*@
        }
        else
        {
            <li class="btn">This Job is claimed by @Job.Worker.FirstName @Job.Worker.LastName</li>

        }
    </ul>


<hr />
}

@*@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.JobId)
    @Html.HiddenFor(model => model.Title)
    @Html.HiddenFor(model => model.Description)

    <h4>@Model.Title</h4>
    <input type="submit" value="Claim This Job" />
}*@