@{
}
    

@*@using System.Security.Claims*@

<br />  

<h2>Would you like to do this job?</h2>
<hr />
<div class="text-center">
    <h3>Our Current Jobs</h3>
    @Html.ActionLink("Add a new job", "Create")
</div>

@foreach (var Job in Model)
{
    <ul>
        <li>@Job.Title</li>
            
            <li>@Job.Description</li>
         

        @if (Job.Worker == null)
        {
            <li >This job is unclaimed. 
                
                <form action="Claim"  class="claim-job">
                    <input type="hidden" value="@Job.JobId" name="jobId" />
                    @*Can't access worker name using Job.Worker.FirstName* User.Identity.Name get value of worker log in*@
                    @*<input type="hidden" value="@User.Identity.Name" name="workerName" />*@
                    <button type="button">Claim</button>
                </form>

                <div class="result-claim"></div>
            </li>

        }
        else
        {
            //once claim is clicked this should replace it!
            <li class="job-claimed">This Job is claimed by @Job.Worker.FirstName @Job.Worker.LastName</li>

        }
    </ul>


<hr />
}

