@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@if (User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <h4>Hello Worker @Model.FirstName @Model.LastName. You are Logged In</h4>
        @if (Model.Avaliable)
        {
            <h2>Please @Html.ActionLink("select a job", "Index", "Jobs").</h2>
        }
        else
        {
            <p>You are already assigned to a job.</p>
        }

        <h3>Your Current Jobs:</h3>
        @foreach (var Job in Model.Jobs)
        {
            @if (Job.Completed == false)
            {
                @if (Job.Active == true)
                {
                    <div class="compleatedHide">
                        <strong>@Job.Title</strong> -- is <span class="status">active</span><br />
                        <form action="Completed" class="completed-job">
                            @*<input type="hidden" value="@Job.Title" class="Title-@Job.JobId" />*@
                            <input type="hidden" value="@Job.JobId" name="jobId" />

                            <button type="button">Done</button>
                        </form>
                        <div class="result-completed"></div>
                    </div>
                    <hr />
                }
                else if (Job.Active == true && Job.Active == 1)
                {
                    <div class="activeHide">
                        <strong>@Job.Title</strong> -- is <span class="status">inactive</span><br />
                        <form action="Pending" class="pending-job">
                            @*<input type="hidden" value="@Job.Title" class="Title-@Job.JobId" />*@
                            <input type="hidden" value="@Job.JobId" name="jobId" />

                            <button type="button" class="btn-warning">Pending</button>
                        </form>
                        <div class="result-pending"></div>
                    </div>
                    <hr />
                }
                else if (Job.Active == false)
                {
                    <div class="pendingHide">
                        <strong>Job: @Job.Title</strong> -- <span class="status">is inactive</span><br />
                        <form action="Active" class="active-job">
                            @*<input type="hidden" value="@Job.Title" class="Title-@Job.JobId" />*@
                            <input type="hidden" value="@Job.JobId" name="jobId" />

                    <button type="submit" class="btn-primary">Active</button>
                    <button type="button" class="btn-warning">Pending</button>
                        </form>
                        <div class="result-active"></div>
                    </div>
                    <hr />
                }
            }
        }



    </div>
}